@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-bar {
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.showOnlyMobile {
  display: none !important;
}

html {
  height: 100%;
}
