@import url("https://fonts.googleapis.com/css2?family=Commissioner&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
}

.header-bar {
  font-size: 24px;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.showOnlyMobile {
  display: none !important;
}

main::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
main::-webkit-scrollbar-track-piece {
  background: #1c2a3a;
}
/* Handle */
main::-webkit-scrollbar-thumb {
  background: #e7ff8e;
  border-radius: 4px;
}

main::-webkit-scrollbar-button {
  display: block;
  height: 100px;
  width: 4px;
}

@media (max-width: 480px) {
  .hideOnlyMobile {
    display: none !important;
  }
  .showOnlyMobile {
    display: block !important;
  }
}
